* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: Georgia, 'Times New Roman', Times, serif;
   line-height: 1.4;
}

/* Intro h1 */
h1 {
   color: rgb(96, 186, 180);
   text-align: center;
   margin: 180px 0 20px;
   font-size: clamp(24px, 3vw, 34px);
   font-weight: bold;
   text-decoration: underline;
   font-family: 'Lobster', cursive;
}

/* Intro */
.intro-container {
   width: 60%;
   max-width: 800px;
   padding: 30px 20px;
   margin: 40px auto;
   text-align: center;
   font-size: clamp(18px, 1.5vw, 22px);
   background: #e0f7fa;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   border: 1px solid rgba(0, 0, 0, 0.1);
}

/* intro-container paragraph*/
.intro-container p {
   font-size: clamp(18px, 1.5vw, 22px);
   padding-bottom: 20px;
   color: #0d837b;
}

/* Intro text for span */
.intro-container span {
   display: block;
   margin: 20px 0;
   font-size: 18px;
   color: #0d837b;
   text-align: center;
}

/* Main Start button */
#start {
   display: inline-block;
   display: flex;
   margin: 0 auto;
   padding: 14px 28px;
   font-size: 18px;
   color: #fff;
   background: rgb(96, 186, 180);
   border: 2px solid rgb(96, 186, 180);
   border-radius: 35px;
   cursor: pointer;
   transition: background 0.3s, border-color 0.3s;
}

/* Start button hover */
#start:hover {
   color: white;
   background: green;
   border: 2px solid white;
}

/* Instructions */
.instructions {
   width: 40%;
   margin: 60px auto 0;
   padding: 40px 0 40px;
   background: rgb(202, 202, 202);
   text-align: center;
   box-shadow: -4px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Inst. span */
.instructions span {
   font-size: 20px;
   color: black;
}

/* Hole and par text */
.hole p {
   color: rgb(13, 131, 123);
   font-weight: 600;
}

/* Reset Yards */
.yardsReset {
   width: 60%;
   margin: 5px auto 0;
   text-align: center;
}

/* Yards Reset label */
.yardsReset label {
   color: rgb(15, 136, 126);
   font-size: 18px;
   font-weight: 900;
}

/* Yardage info */
h3 {
   color: rgb(96, 186, 180);
}

/* Ordered list */
ol {
   width: 92%;
   text-align: left;
   padding-left: 10%;
   margin-top: 20px;
   font-weight: 500;
}

/* List items */
li {
   margin-bottom: 12px;
   color: rgb(13, 131, 123);
}

/* Contains Holes information */
.holes-container {
   display: none;
}

/* Swing btn */
.swingBtn {
   margin: 6px auto;
   padding: 12px;
   color: green;
   background: yellow;
   border: 2px solid green;
   border-radius: 20px;
   align-items: center;
}

/* Swing button hover */
.swingBtn:hover {
   color: white;
   background: green;
   border: 1px solid green;
   cursor: pointer;
}

/* Power */
div.progress-container span {
   font-weight: bold;
   margin-top: 5px;
   margin-bottom: 10px;
   color: rgb(13, 131, 123);
   font-size: 1.2em;
   display: block;
   text-align: center;
}

/* Resets clubs inputs */
.clubs-reset {
   width: 60%;
   margin: 40px auto;
   text-align: center;
}

/* Club distances container */
.club-distances {
   width: 40%;
   height: auto;
   padding: 50px 50px 30px 50px;
   margin: 10px auto 30px;
   display: grid;
   grid-template-columns: 150px auto;
   grid-row-gap: 8px;
   background: rgb(182, 212, 210);
   justify-content: center;
   box-shadow: -4px 2px 10px rgba(0, 0, 0, 0.2);
   border-radius: 2px;
}

/* club-distances h3 */
.club-distances h3 {
   grid-column: 1 / -1;
   text-align: center;
   margin: 10px 0 0;
   font-size: 1rem;
   color: black;
}

/* club-distances input (yards)*/
.club-distances input {
   width: 100%;
   color: rgb(15, 136, 126);
}

/* club-distances labels */
.club-distances label {
   margin: 10px;
   font-size: 20px;
   font-weight: 300;
   color: black;
}

/* club-distances inputs */
input {
   padding-left: 12px;
   height: 35px;
   font-size: 1.2rem;
   text-align: center;
}

/* club-distances input-focus */
.club-distances input:focus {
   background: yellow;
}

/* Placeholders */
::placeholder {
   color: gray;
   font-size: 14px;
}

/* Yards reset button */
#resetYardageBtn {
   margin: 0 auto;
   padding: 12px;
   color: green;
   background: yellow;
   border: 2px solid green;
   border-radius: 20px;
   cursor: pointer;
   align-items: center;
}

/* Yards reset button hover*/
#resetYardageBtn:hover {
   color: white;
   background: rgb(192, 46, 29);
}

/* Result testin container */
.result-container {
   margin-top: 20px;
}

/* Result for testing result*/
#result {
   width: 55%;
   padding: 10px;
   text-align: center;
   font-size: 1.2rem;
   font-weight: 300;
   color: rgb(255, 255, 255);
   background: rgb(153, 190, 188);
}

/* Yardage Info h3 */
h3 {
   font-size: 24px;
   color: yellow;
   margin: 5px 0px 5px;
}

/* Horizontal Line */
hr {
   margin-bottom: 20px;
   width: 80%;
}

/* Yardage Information */
.yardsCounter {
   display: none;
   font-size: 1.2rem;
   font-weight: 400;
   color: white;
   background: rgb(96, 186, 180);
   width: 24%;
   padding: 5px;
   margin: 0 auto;
   margin: 20px auto;
   text-align: center;
   display: none;
   margin: 20px auto;
   width: 80%;
   max-width: 600px;
   border: 1px solid gray;
   padding: 20px;
}

/* Yardage Info. Remaining Distance counter */
#remainingDistance {
   display: block;
   font-size: 1.2rem;
   width: 100%;
   padding: 5px;
   margin: 0 auto;
   margin: 20px auto;
   text-align: center;
}

/* Reset All Clubs Button */
.clubs-reset button {
   display: inline-block;
   margin-right: 10px;
   margin: 0 auto;
   padding: 12px;
   color: green;
   background: yellow;
   border: 2px solid green;
   border-radius: 20px;
   cursor: pointer;
   align-items: center;
}

/* Save button */
#saveBtn:hover {
   color: white;
   background: green;
}

/* Save button hover*/
.resetClubs:hover {
   background: red;
   color: white;
   border: none;
}

/* Start Round button */
.startRoundBtn {
   display: none;
}

/* Start round button */
.startRoundBtn:hover {
   color: white;
   background: green;
}

/* Current hole info */
.hole {
   text-align: center;
   margin: 20px auto;
   width: 80%;
   max-width: 600px;
   border: 1px solid #ccc;
   padding: 20px;
}

/* Hole Info. result containers */
.hole-info {
   color: yellow;
   background-color: rgb(96, 186, 180);
   border: 1px solid black;
   padding: 10px;
   margin-bottom: 10px;
}

/* Previous Hole */
#previousHoleResults {
   display: none;
   text-align: center;
   margin: 20px auto;
   width: 80%;
   max-width: 600px;
   border: 1px solid #ccc;
   padding: 20px;
}

/* Results for all holes */
#previousHoleResults span {
   font-size: 20px;
   font-weight: 600;
   color: black;
}

/* Previous Hole */
p {
   color: white;
   font-size: 18px;
}

/* Next Hole button */
#nextHoleBtn {
   display: none;
   margin-right: 10px;
   margin: 0 auto;
   padding: 12px;
   color: green;
   background: yellow;
   border: 2px solid green;
   border-radius: 20px;
   cursor: pointer;
   align-items: center;
}

/* H3 span for Hole Completion Message */
span#holeCompletionMessage {
   font-size: 1.1rem;
   color: yellow;
   margin-top: 40px !important;
}

/* Strokes container */
.strokes-container {
   margin: 14px;
}

/* Strokes counter */
.strokes {
   display: inline-block;
   width: 20px;
   height: 20px;
   color: white;
   background: green;
}

/* Strokes text for label */
.strokes-label {
   color: rgb(13, 131, 123);
   font-weight: 900;
}

/* Next Hole btn hover */
#nextHoleBtn:hover {
   color: white;
   background: green;
}

/* Club Suggestion text */
.clubSuggestion {
   display: block;
   font-size: 16px;
   padding: 8px;
   width: 60%;
   margin: 10px auto;
   color: white;
   background: rgb(13, 131, 123);
   border-radius: 2px;
}

/* Round Completion message */
#roundCompletionMessage {
   display: block;
   margin-top: 14px;
   font-size: 1.6rem;
   color: yellow;

}

/* Total Score Strokes count */
#totalStrokes {
   display: block;
   margin: 20px auto 5px;
}

/* Total Score count */
#totalScore {
   display: block;
   margin: 0px 0 20px 0;
}

/* New Round container */
.new-round {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}

/* New Round button */
#new-round {
   display: none;
   padding: 12px;
   color: green;
   background: yellow;
   border: 1px solid green;
   border-radius: 20px;
   cursor: pointer;
   align-items: center;
}

/* New Round hover */
#new-round:hover {
   color: white;
   background: red;
   border: none;
   border: 1px solid black;
}