* {
   box-sizing: border-box;
   padding: 0;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
   color: rgb(96, 186, 180);
   text-align: center;
   margin: 30px 0;
   text-decoration: underline;
}

.intro-container {
   background: rgb(182, 212, 210);
   width: 40%;
   padding: 16px 20px;
   margin: 10px auto;
   text-align: center;
   align-items: center;
   box-shadow: -4px 2px 10px rgba(0, 0, 0, 0.2);
}


/* intro-container paragraph*/
.intro-container p {
   font-size: 1.2em;
   margin-bottom: 30px;
}

/* Instructions */
.instructions {
   /* color: rgb(112, 112, 112); */
   width: 40%;
   margin: 0 auto;
   padding: 30px;
   background: rgb(202, 202, 202);
   text-align: center;
   box-shadow: -4px 2px 10px rgba(0, 0, 0, 0.2);
}

.hole p {
   color: rgb(13, 131, 123);
   font-weight: 600;
}

/* Customization Msg */
/* h4 {
   font-size: 24px;
   color: rgb(15, 136, 126) !important;
   text-align: center;
   margin: 30px 0;
   color: rgb(74, 165, 159);
} */

/* Reset Yards */
.yardsReset {
   width: 60%;
   margin: 5px auto 0;
   text-align: center;
}

/* Yards Reset label */
.yardsReset label {
   color: rgb(15, 136, 126);
   font-size: 18px;
   font-weight: 900;
}

/* Yardage info */
h3 {
   color: rgb(96, 186, 180);
}


/* Inst. span */
.instructions span {
   color: black;
   font-size: 20px;
}

/* Ordered list */
ol {
   text-align: left;
   padding-left: 40px;
}

/* List items */
li {
   margin-bottom: 12px;
   color: rgb(13, 131, 123);
}

.instructions h3 {
   color: gray;
}

/* Contains Holes information */
.holes-container {
   display: none;
}

/* Swing btn */
.swingBtn {
   margin: 6px auto;
   padding: 12px;
   color: green;
   background: yellow;
   border: 2px solid green;
   border-radius: 20px;
   cursor: pointer;
   align-items: center;
}

/* Power */
div.progress-container span {
   font-weight: bold;
   margin-top: 5px;
   margin-bottom: 10px;
   color: rgb(13, 131, 123);
   font-size: 1.2em;
   display: block;
   text-align: center;
}

.customization-message {
   color: red;
   text-align: center;
   margin-top: 20px;
}

#alertMessage {
   display: none;
   color: red;
   text-align: center;
}

/* Resets clubs inputs */
.clubs-reset {
   width: 60%;
   margin: 0 auto;
   text-align: center;
}

/* Club distances container */

.club-distances {
   width: 40%;
   height: auto;
   padding: 50px;
   margin: 10px auto 18px;
   display: grid;
   grid-template-columns: 150px auto;
   /* Set fixed width for labels */
   grid-row-gap: 8px;
   background: rgb(182, 212, 210);
   justify-content: center;
   box-shadow: -4px 2px 10px rgba(0, 0, 0, 0.2);
   border-radius: 2px;
}

/* Club labels */
.club-distances label {
   color: black;
   margin-right: 16px;
}

/* club-distances h3 */
.club-distances h3 {
   grid-column: 1 / -1;
   text-align: center;
   margin: 20px 0 0;
   color: black;
}


.club-distances input {
   width: 100%;
}

.club-distances label {
   margin: 10px;
   font-size: 20px;
   font-weight: 300;
   color: rgb(13, 131, 123);
}

input {
   padding-left: 12px;
   height: 35px;
   font-size: 1.2rem;
   text-align: center;
}

input:focus {
   background: greenyellow;
}

::placeholder {
   color: gray;
   font-size: 14px;
}

#resetYardageBtn {
   margin: 0 auto;
   padding: 12px;
   color: green;
   background: yellow;
   border: 2px solid green;
   border-radius: 20px;
   cursor: pointer;
   align-items: center;
}

#resetYardageBtn:hover {
   color: white;
   background: orange;
}

.result-container {
   margin-top: 20px;
}

#result {
   /* display: block; */
   font-size: 1.2rem;
   font-weight: bold;
   color: rgb(0, 112, 0);
   background-color: rgb(202, 202, 202);
   padding: 10px;
   width: 55%;
   text-align: center;
}

.yardsCounter {
   /* display: block; */
   display: none;
   font-size: 1.4rem;
   font-weight: bold;
   color: green;
   background: rgb(222, 222, 222);
   width: 24%;
   padding: 5px;
   margin: 0 auto;
   margin: 20px auto;
   text-align: center;
   display: none;
   text-align: center;
   margin: 20px auto;
   width: 80%;
   max-width: 600px;
   border: 1px solid #ccc;
   padding: 20px;
}

h3 {
   font-size: large;
   color: black;
}

#remainingDistance {
   display: block;
   font-size: 1.2rem;
   font-weight: bold;
   width: 100%;
   padding: 5px;
   margin: 0 auto;
   margin: 20px auto;
   text-align: center;
}

.clubs-reset button {
   display: inline-block;
   margin-right: 10px;
   margin: 0 auto;
   padding: 12px;
   color: green;
   background: yellow;
   border: 2px solid green;
   border-radius: 20px;
   cursor: pointer;
   align-items: center;
}

#saveBtn:hover {
   color: white;
   background: green;
}

.resetClubs:hover {
   background: red;
   color: white;
   border: none;
}

/* Yard Distances information */
#yardsTraveled,
#remainingDistance {
   color: rgb(96, 186, 180);
}

.startRoundBtn {
   display: none;
}

/* Start round button */
.startRoundBtn:hover {
   color: white;
   background: green;
}

/* Current hole info */
.hole {
   text-align: center;
   margin: 20px auto;
   width: 80%;
   max-width: 600px;
   border: 1px solid #ccc;
   padding: 20px;
}

.hole-container {
   margin-bottom: 20px;
}

.hole-info {
   color: white;
   background-color: rgb(96, 186, 180);
   border: 1px solid #ccc;
   padding: 10px;
   margin-bottom: 10px;
}

#previousHoleResults {
   display: none;
   text-align: center;
   margin: 20px auto;
   width: 80%;
   max-width: 600px;
   border: 1px solid #ccc;
   padding: 20px;
}

p {
   color: black;
   font-size: 18px;
}

#nextHoleBtn {
   display: none;
   margin-right: 10px;
   margin: 0 auto;
   padding: 12px;
   color: green;
   background: yellow;
   border: 2px solid green;
   border-radius: 20px;
   cursor: pointer;
   align-items: center;
}

.strokes-container {
   margin: 14px;
}

.strokes {
   display: inline-block;
   width: 20px;
   height: 20px;
   color: white;
   background: green;
}

.strokes-label {
   color: rgb(13, 131, 123);
   font-weight: 900;
}

#nextHoleBtn:hover {
   color: white;
   background: green;
}

.clubSuggestion {
   display: block;
   font-size: 16px;
   padding: 8px;
   width: 60%;
   margin: 10px auto;
   color: white;
   background: rgb(13, 131, 123);
   border-radius: 2px;
}

#roundCompletionMessage {
   display: block;
   margin-top: 14px;
   color: rgb(13, 131, 123);
}

#totalStrokes {
   display: block;
   margin: 20px auto 5px;
}

#totalScore {
   display: block;
   margin: 0px 0 20px 0;
}

.new-round {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}

#new-round {
   display: none;
   padding: 12px;
   color: green;
   background: yellow;
   border: 2px solid green;
   border-radius: 20px;
   cursor: pointer;
   align-items: center;
}

#new-round:hover {
   color: white;
   background: red;
   border: none;
}