* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: Georgia, 'Times New Roman', Times, serif;
   line-height: 1.2;
}

/* Color variables */
:root {
   --primary-color: #60BAB4;
   --secondary-color: #0d837b;
   --green-color: #008000;
   --white-color: #FFFFFF;
   --yellow-color: #fff000;
   --black-color: #000000;
}

/* Intro Header */
header {
   transition: transform .5s ease-in-out;
}

 /* Add this CSS to target the specific elements you want to slide up */
 .slide-up,
 .slide-up-main {
    transition: transform .5s ease-in-out;
    transform: translateY(-100vh);
 }

/* Intro h1 */
h1 {
   color: var(--primary-color);
   text-align: center;
   margin: 180px 0 20px;
   font-size: clamp(24px, 3vw, 34px);
   font-weight: bold;
   text-decoration: underline;
}

/* Intro */
.intro-container {
   width: 60%;
   max-width: 800px;
   padding: 30px 20px;
   margin: 40px auto;
   text-align: center;
   font-size: clamp(18px, 1.5vw, 22px);
   background: #e0f7fa;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   border: 1px solid rgba(0, 0, 0, 0.1);
}

/* intro-container paragraph*/
.intro-container p {
   font-size: clamp(18px, 1.5vw, 22px);
   padding-bottom: 20px;
   color: var(--secondary-color);
}

/* Intro text for span */
.intro-container span {
   display: block;
   margin: 20px 0;
   font-size: 18px;
   color: var(--secondary-color);
   text-align: center;
}

/* Main Start button */
#start {
   display: inline-block;
   display: flex;
   margin: 0 auto;
   padding: 14px 28px;
   font-size: 18px;
   color: var(--white-color);
   background: var(--primary-color);
   border: 2px solid var(--primary-color);
   border-radius: 35px;
   cursor: pointer;
   transition: background 0.3s, border-color 0.3s;
}

/* Start button hover */
#start:hover {
   color: var(--white-color);
   background: var(--green-color);
   border: 2px solid var(--white-color);
}

/* Instructions */
.instructions {
   width: 600px;
   margin: 60px auto 0;
   padding: 40px 0 40px;
   text-align: center;
   background: #e0f7fa;
   border: 1px solid lightgray;
   box-shadow: -4px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Inst. span */
.instructions span {
   font-size: 20px;
   color: var(--black-color);
}

/* Hole and par text */
.hole p {
   color: var(--secondary-color);
   font-weight: 600;
}

/* Reset Yards */
.yardsReset {
   width: 60%;
   margin: 5px auto 0;
   text-align: center;
}

/* Yards Reset label */
.yardsReset label {
   color: rgb(15, 136, 126);
   font-size: 18px;
   font-weight: 900;
}

/* Yardage info */
h3 {
   color: var(--primary-color);
}

/* Ordered list */
ol {
   width: 92%;
   text-align: left;
   padding-left: 10%;
   margin-top: 20px;
   font-weight: 500;
}

/* List items */
li {
   margin-bottom: 12px;
   color: var(--secondary-color);
}

/* Contains Holes information */
.holes-container {
   display: none;
}

/* Swing btn */
.swingBtn {
   background: radial-gradient(circle at 5px 5px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 15px 5px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 25px 5px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 35px 5px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 45px 5px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 55px 5px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 65px 5px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 75px 5px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 5px 15px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 15px 15px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 25px 15px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 35px 15px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 45px 15px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 55px 15px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 65px 15px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 75px 15px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 5px 25px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 15px 25px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 25px 25px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 35px 25px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 45px 25px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 55px 25px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 65px 25px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 75px 25px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 5px 35px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 15px 35px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 25px 35px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 35px 35px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 45px 35px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 55px 35px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 65px 35px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 75px 35px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 5px 45px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 15px 45px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 25px 45px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 35px 45px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 45px 45px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 55px 45px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 65px 45px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 75px 45px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 5px 55px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 15px 55px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 25px 55px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 35px 55px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 45px 55px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 55px 55px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 65px 55px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 75px 55px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 5px 65px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 15px 65px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 25px 65px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 35px 65px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 45px 65px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 55px 65px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 65px 65px, rgba(0, 0, 0, 0.2) 8%, transparent 10%),
      radial-gradient(circle at 75px 65px, rgba(0, 0, 0, 0.2) 8%, transparent 10%);
   background-size: 20px 20px;
   border: 2px solid #d1d1d1;
   color: var(--green-color);
   font-size: 20px;
   font-weight: bold;
   cursor: pointer;
   transition: all .3s ease;
   text-transform: uppercase;
   outline: none;
   margin: 6px auto;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   width: 110px;
   height: 110px;
   padding: 0;
   position: relative;
   overflow: hidden;
   transform:
      perspective(1050px) translate3d(0px, 0px, 120px) rotateX(7deg) scale(0.9, 0.9);
      border: 2px solid #e0e0e0;
      box-shadow: 0 40px 40px -30px rgba(0, 0, 0, 0.5);
}

/* Swing button hover */
.swingBtn:hover {
   color: var(--white-color);
   background: var(--green-color);
   cursor: pointer;
   background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
   transform: translateY(-3px);
}

/* Swing button active state */
.swingBtn:active {
   background: linear-gradient(135deg, #66bb6a, var(--green-color));
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
   transform: translateY(2px) scale(0.98);
   opacity: 0.9;
}

/* Power */
div.progress-container span {
   font-weight: bold;
   margin-top: 5px;
   margin-bottom: 10px;
   color: var(--secondary-color);
   font-size: 1.2em;
   display: block;
   text-align: center;
}

/* Resets clubs inputs */
.clubs-reset {
   width: 60%;
   margin: 40px auto;
   text-align: center;
}

/* Reset All Clubs Button */
.clubs-reset button {
   display: inline-block;
   margin-right: 10px;
   margin: 0 auto;
   padding: 10px 16px;
   color: var(--green-color);
   background: var(--yellow-color);
   border: 2px solid var(--green-color);
   border-radius: 25px;
   cursor: pointer;
   align-items: center;
}

/* Add transition for sliding effect */
.slide-wrapper {
   position: relative;
   transition: transform 0.5s ease-in-out;
}

/* Add this CSS to target the specific elements you want to slide up */
 .slide-wrapper.slide-up-main {
    transform: translateY(-100vh);
    /* Move the element up by the viewport height */
 }

 .slide-wrapper {
    transition: transform 0.5s ease-in-out;
 }

/* Club distances container */
.club-distances {
   width: 600px;
   height: auto;
   padding: 50px 50px 30px 50px;
   margin: 10px auto 30px;
   display: grid;
   grid-template-columns: 150px auto;
   grid-row-gap: 8px;
   background: rgb(182, 212, 210);
   justify-content: center;
   box-shadow: -4px 2px 10px rgba(0, 0, 0, 0.2);
   border-radius: 2px;
}

/* club-distances h3 */
.club-distances h3 {
   grid-column: 1 / -1;
   text-align: center;
   margin: 10px 0 0;
   font-size: 1rem;
   color: var(--black-color);
}

/* club-distances input (yards)*/
.club-distances input {
   width: 100%;
   color: rgb(15, 136, 126);
}

/* club-distances labels */
.club-distances label {
   margin: 10px;
   font-size: 20px;
   font-weight: 300;
   color: var(--black-color);
}

/* club-distances inputs */
input {
   padding-left: 12px;
   height: 35px;
   font-size: 1.2rem;
   text-align: center;
}

/* club-distances input-focus */
.club-distances input:focus {
   background: var(--yellow-color);
}

/* Placeholders */
::placeholder {
   color: gray;
   font-size: 14px;
}

/* Yards reset button */
#resetYardageBtn {
   margin: 0 auto;
   padding: 8px 16px;
   color: var(--green-color);
   background: var(--yellow-color);
   border: 2px solid var(--green-color);
   border-radius: 25px;
   cursor: pointer;
   align-items: center;
}

/* Yards reset test button hover*/
#resetYardageBtn:hover {
   color: var(--white-color);
   background:red;
   transition: background 0.3s, border-color 0.3s;
}

/* Result testin container */
.result-container {
   margin-top: 20px;
}

/* Result for testing result*/
#result {
   width: 55%;
   padding: 12px;
   text-align: center;
   font-size: 1.2rem;
   font-weight: 300;
   color: rgb(255, 255, 255);
   background: rgb(16, 114, 109);
   border-radius: 5px;
   box-shadow: -4px 6px 10px rgba(0, 0, 0, 0.2);
}

/* Yardage Info h3 */
h3 {
   font-size: 24px;
   color: var(--yellow-color);
   margin: 5px 0px 5px;
}

/* Horizontal Line */
hr {
   margin: 4px auto 30px;
   width: 80%;
}

/* Yardage Information */
.yardsCounter {
   display: none;
   font-size: 1.2rem;
   font-weight: 400;
   color: var(--white-color);
   background: var(--primary-color);
   width: 24%;
   padding: 5px;
   margin: 0 auto;
   margin: 20px auto;
   text-align: center;
   display: none;
   margin: 20px auto;
   width: 80%;
   max-width: 600px;
   /* border: 1px solid gray; */
   padding: 20px;
   box-shadow: -6px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Yardage Info. Remaining Distance counter */
#remainingDistance {
   display: block;
   font-size: 1.2rem;
   width: 100%;
   padding: 5px;
   /* margin: 0 auto; */
   margin: 20px auto;
   text-align: center;
}

button#saveBtn {
   padding: 10px 16px;
   border-radius: 25px;
}

/* Save button hover*/
.resetClubs:hover {
   background: red;
   color: var(--white-color);
   border: 2px solid var(--green-color);
   transition: background 0.3s, border-color 0.3s;
}

/* Save button */
#saveBtn:hover {
   color: var(--white-color);
   background: var(--green-color);
}


/* Start Round button */
.startRoundBtn {
   display: none;
   transition: background 0.3s, border-color 0.3s;
}

/* Start round button */
.startRoundBtn:hover {
   color: var(--white-color);
   background: var(--green-color);
}

/* Current hole info */
.hole {
   text-align: center;
   margin: 20px auto;
   padding: 20px;
   width: 80%;
   max-width: 600px;
   border: 1px solid #ccc;
   box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Hole Info. result containers */
.hole-info {
   color: var(--yellow-color);
   background-color: var(--primary-color);
   padding: 60px;
   margin-bottom: 10px;
}

/* Previous Hole */
#previousHoleResults {
   display: none;
   text-align: center;
   margin: 20px auto;
   width: 80%;
   max-width: 600px;
   border: 1px solid #ccc;
   padding: 20px;
   box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Results for all holes */
#previousHoleResults span {
   font-size: 20px;
   font-weight: 600;
   color: var(--black-color);
}

/* Congrats Message */
.congratulations-message {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 3em;
   color: #fff;
   background-color: rgba(0, 0, 0, 0.5);
   padding: 20px;
   border-radius: 10px;
   text-align: center;
   z-index: 9999;
   display: none;
}

/* Previous Hole */
p {
   color: var(--white-color);
   font-size: 18px;
   margin: 8px 0;
}

/* Next Hole button */
#nextHoleBtn {
   display: none;
   margin: 6px auto;
   padding: 10px 24px;
   color: var(--green-color);
   background: var(--yellow-color);
   border: 2px solid var(--green-color);
   border-radius: 25px;
   align-items: center;
   cursor: pointer;
}

/* Next Hole btn hover */
#nextHoleBtn:hover {
   color: var(--white-color);
   background: var(--green-color);
}

/* H3 span for Hole Completion Message */
span#holeCompletionMessage {
   font-size: 1.1rem;
   color: var(--yellow-color);
   margin-top: 40px !important;
}

/* Strokes container */
.strokes-container {
   margin: 14px;
}

/* Strokes counter */
.strokes {
   display: inline-block;
   width: 20px;
   height: 20px;
   color: var(--white-color);
   background: var(--green-color);
}

/* Strokes text for label */
.strokes-label {
   color: var(--secondary-color);
   font-weight: 900;
}

/* Club Suggestion text */
.clubSuggestion {
   display: inline-block;
   padding: 6px 16px;
   margin: 0 auto;
   color: var(--white-color);
   background-color: #60BAB4;
   background: var(--secondary-color);
   white-space: nowrap;
   border-radius: 2px;
}

/* Round Completion message */
#roundCompletionMessage {
   display: block;
   margin-top: 14px;
   font-size: 1.6rem;
   color: var(--yellow-color);
}

/* Total Score Strokes count */
#totalStrokes {
   display: block;
   margin: 20px auto 5px;
}

/* Total Score count */
#totalScore {
   display: block;
   margin: 0px 0 20px 0;
}

/* New Round container */
.new-round {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}

/* Start New Round button */
#new-round {
   display: none;
   padding: 12px;
   color: var(--green-color);
   background: var(--yellow-color);
   border: 1px solid var(--green-color);
   border-radius: 25px;
   cursor: pointer;
   align-items: center;
   transition: background 0.3s, border-color 0.3s;
}

/* New Round hover */
#new-round:hover {
   color: var(--white-color);
   background: red;
   border: none;
   border: 1px solid var(--black-color);
}

/* For screens narrower than 668px */
@media (max-width: 668px) {
   header {
      margin-top: 0;
      /* min-width: 400px; */
   }

   h1 {
      font-size: 20px;
   }

   .intro-container {
      padding: 16px;
   }
   
   h1, .intro-container, .instructions, .club-distances {
      width: 80%;
      margin: 20px auto 0;
   }

   .intro-container p {
      padding-bottom: 10px;
   }

   .instructions {
      padding: 10px 0;
      min-width: 300px;
   }

   .club-distances {
      min-width: 300px;
      margin: 10px auto 20px;
   }

   .club-distances label {
      font-size: 16px;
   }

   .club-distances input {
      min-width: 120px;
   }

   .club-distances h3 {
      font-size: 12px;
   }

   .yardsReset label {
      font-size: 16px;
   }

   #resetYardageBtn {
      margin-top: 10px;
   }

   .congratulations-message {
      font-size: 2rem;
      padding: 10px;
   }

   #result {
      margin: 4px auto;
      padding: 6px 8px;
      font-size: 10px;
      white-space: nowrap;
   }

   div.clubs-reset {
      margin-top: 16px;
   }

   .clubs-reset button {
      margin-top: 6px;
   }

   h2 {
      font-size: 18px;
   }
   
   /* Swing Button */
   .swingBtn {
      font-size: 16px;
      font-weight: bolder;
      width: 70px;
      height: 70px;
      padding-left: 0;
      margin: 46px 0 0 -20px;
      position: absolute;
      box-shadow: 0 40px 40px -30px rgb(0, 0, 0);
   }

   /* .swingBtn:active {
      background: radial-gradient(circle at 5px 5px, rgba(0, 0, 0, 0.2) 8%, transparent 10%);
      background-size: 20px 20px;
   } */

   div.progress-container span {
      margin: 2px auto;
   }

   .clubSuggestion {
      margin: 4px auto;
      padding: 6px 8px;
      /* max-width: 400px; */
      font-size: 12px;
      white-space: nowrap;
      border-radius: 2px;      
   }

   .strokes-container {
      margin: 6px;
   }

   #previousHoleResults span {
      font-size: 14px;
   }

   .yardsCounter {
      padding: 12px 0 2px;
      font-size: 1rem;
   }
   
   #remainingDistance {
      font-size: 1rem;
      margin: 4px 0 10px;
   }

   h3 {
      font-size: 16px;
   }

   hr {
      margin-bottom: 20px;
   }

   .hole-info {
      margin-top: 4px;
      padding: 20px;
      margin-bottom: 4px;
   }

   #previousHoleResults {
      padding: 4px;
      padding-bottom: 0px;
   }

   h2 {
      margin-bottom: 14px;
   }

   p {
      margin: 4px 0;
      font-size: 16px;
   }

   #roundCompletionMessage {
      margin-top: 4px;
      font-size: 16.8px;
   }

   #totalStrokes {
      margin: 10px auto 5px;
   }
}
